<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.makigumo.hopper.tool</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.bundleBase</string>
        <string>com.apple.dt.unit.osxBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds a Hopper Tool plugin that links against the Cocoa framework.</string>
    <key>SortOrder</key>
    <integer>101</integer>
    <key>Targets</key>
    <array>
        <dict>
            <key>ProductType</key>
            <string>com.apple.product-type.bundle</string>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.bundleTarget</string>
            <key>SharedSettings</key>
            <dict>
                <key>INSTALL_PATH</key>
                <string>$(USER_LIBRARY_DIR)/Application Support/Hopper/PlugIns/V4/Tools</string>
                <key>SKIP_INSTALL</key>
                <string>YES</string>
                <key>WRAPPER_EXTENSION</key>
                <string>hopperTool</string>
                <key>COMBINE_HIDPI_IMAGES</key>
                <string>YES</string>
                <key>HEADER_SEARCH_PATHS</key>
                <string>$(SRCROOT)/HopperSDK/include</string>
                <key>MACOSX_DEPLOYMENT_TARGET</key>
                <string>10.9</string>
            </dict>
            <key>BuildPhases</key>
            <array>
                <dict>
                    <key>Class</key>
                    <string>Sources</string>
                </dict>
                <dict>
                    <key>Class</key>
                    <string>Frameworks</string>
                </dict>
                <dict>
                    <key>Class</key>
                    <string>Resources</string>
                </dict>
                <dict>
                  <key>Class</key>
                  <string>ShellScript</string>
                  <key>ShellPath</key>
                  <string>/bin/bash</string>
                  <key>ShellScript</key>
		  <string>rm -rf "${INSTALL_PATH}/___PACKAGENAMEASIDENTIFIER___.${WRAPPER_EXTENSION}"
mkdir -p "${INSTALL_PATH}"
cp -rf "${BUILT_PRODUCTS_DIR}/___PACKAGENAMEASIDENTIFIER___.${WRAPPER_EXTENSION}" "${INSTALL_PATH}"
                  </string>
                  <key>ShowEnvVarsInLog</key>
                  <false/>
                </dict>
            </array>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:bundle</string>
        <string>Info.plist:NSHumanReadableCopyright</string>
        <string>___PACKAGENAMEASIDENTIFIER___Tool.h</string>
        <string>___PACKAGENAMEASIDENTIFIER___Tool.m</string>
        <string>../.gitignore</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Info.plist:bundle</key>
        <string><![CDATA[<key>CFBundlePackageType</key>
<string>BNDL</string>
<key>NSPrincipalClass</key>
<string>___PACKAGENAMEASIDENTIFIER___Tool</string>
]]></string>
        <key>___PACKAGENAMEASIDENTIFIER___Tool.h</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___Tool.h</string>
        </dict>
        <key>___PACKAGENAMEASIDENTIFIER___Tool.m</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___Tool.m</string>
        </dict>
        <key>../.gitignore</key>
        <dict>
            <key>Path</key>
            <string>gitignore</string>
        </dict>
    </dict>
</dict>
</plist>
